<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
 <table>
     <tr>
         <th>ID</th>
         <th>Имя</th>
         <th>Email</th>
     </tr>
     {% for user in users %}
        <tr>
            <td>
                {{ user['id'] }}
            </td>
            <td>
                {{ user['name'] }}
            </td>
            <td>
                {{ user['email'] }}
            </td>
        {% endfor %}
    </table>
<form action="/" method="post">
    <input type="submit" value="Добавить нового пользователя">
</form>

</form>

</body>
</html>